In [1]:
import pickle

# Example list
my_list = [1, 2, 3, 4, 5]

# Store the list in a file
with open('list_data.pickle', 'wb') as file:
    pickle.dump(my_list, file)

In [2]:
# Later, to load the list from the file
with open('list_data.pickle', 'rb') as file:
    loaded_list = pickle.load(file)

print(loaded_list)

[1, 2, 3, 4, 5]

In [4]:
stock = "PAT.DE VNA.DE"

In [31]:
t = yf.Tickers(stock)

In [41]:
t.symbols

['PAT.DE', 'VNA.DE']

In [32]:
info = t.tickers["VNA.DE"].info
# delete company

In [33]:
df = pd.DataFrame.from_dict(info)

In [51]:
type(df.size)

numpy.int64

In [42]:
columns_list = []
for col_name in df:
    if col_name[1] == "Close":
        columns_list.append(pd.DataFrame(df[col_name]))

In [43]:
df_concatenated = pd.concat(columns_list, axis=1)

In [44]:
df_concatenated

                  AAPL        MSFT
                 Close       Close
Date
2021-06-17  131.789993  260.899994
2021-06-18  130.460007  259.429993
2021-06-21  132.300003  262.630005
2021-06-22  133.979996  265.510010
2021-06-23  133.699997  265.269989
...                ...         ...
2023-06-12  183.789993  331.850006
2023-06-13  183.309998  334.290009
2023-06-14  183.949997  337.339996
2023-06-15  186.009995  348.100006
2023-06-16  184.919998  342.329987

[504 rows x 2 columns]

In [28]:
df_concatenated = pd.concat(df[x], axis=1)

Date
2021-06-17    132.550003
2021-06-18    131.509995
2021-06-21    132.410004
2021-06-22    134.080002
2021-06-23    134.320007
                 ...
2023-06-12    183.889999
2023-06-13    184.149994
2023-06-14    184.389999
2023-06-15    186.520004
2023-06-16    186.990005
Name: (AAPL, High), Length: 504, dtype: float64

In [22]:
df_close = pd.concat([df[stock_list[0]].Close, df[stock_list[1]].Close], axis=1)

In [23]:
df_close

                 Close       Close
Date
2021-06-17  131.789993  260.899994
2021-06-18  130.460007  259.429993
2021-06-21  132.300003  262.630005
2021-06-22  133.979996  265.510010
2021-06-23  133.699997  265.269989
...                ...         ...
2023-06-12  183.789993  331.850006
2023-06-13  183.309998  334.290009
2023-06-14  183.949997  337.339996
2023-06-15  186.009995  348.100006
2023-06-16  184.919998  342.329987

[504 rows x 2 columns]

In [24]:

# Sample data with multi-index
data = {
    ('Group1', 'Column1'): [1, 2, 3],
    ('Group1', 'Column2'): [4, 5, 6],
    ('Group2', 'Column1'): [7, 8, 9],
    ('Group2', 'Column2'): [10, 11, 12]
}

# Create an empty list to store columns
columns_list = []

# Loop through column names and append to the list
for col_name in data:
    index = pd.MultiIndex.from_tuples([(name,) for name in col_name], names=['Group', 'Column'])
    columns_list.append(pd.DataFrame(data[col_name], columns=index))

# Concatenate the columns into a DataFrame
df_concatenated = pd.concat(columns_list, axis=1)

# Print the concatenated DataFrame
print(df_concatenated)

ValueError: Length of names must match number of levels in MultiIndex.