In [9]:
import yfinance as yf

In [10]:
stock = "PAT.DE"

In [11]:
t = yf.Ticker(stock)

In [15]:
t.major_holders

        0                                      1
0  51.81%        % of Shares Held by All Insider
1  19.39%       % of Shares Held by Institutions
2  40.23%        % of Float Held by Institutions
3      73  Number of Institutions Holding Shares

In [17]:
t.earnings_dates

                           EPS Estimate  Reported EPS  Surprise(%)
Earnings Date
2023-11-14 16:00:00+01:00           NaN           NaN          NaN
2023-11-14 11:00:00+01:00           NaN           NaN          NaN
2023-08-11 16:00:00+02:00           NaN           NaN          NaN
2023-08-11 12:00:00+02:00           NaN           NaN          NaN
2023-05-12 15:00:00+02:00           NaN           NaN          NaN
2023-05-11 16:00:00+02:00           NaN           NaN          NaN
2023-05-11 12:00:00+02:00           NaN           NaN          NaN
2023-03-22 17:00:00+01:00           NaN           NaN          NaN
2023-03-22 11:00:00+01:00           NaN           NaN          NaN
2023-03-16 11:00:00+01:00           NaN           NaN          NaN
2023-02-28 15:00:00+01:00           NaN           NaN          NaN
2023-02-28 11:00:00+01:00           NaN           NaN          NaN